body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 7rem;
    display: flex;
}
img#logo-web-equipos{
    width: 10rem;
}

ul.menu-principal {
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 4rem;
}
h1 {
    display: flex;
    justify-content: center;
}