body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    background-image: url(/images/cover2.gif);
    border: 0.5rem solid black;
}

img#logo-web-equipos{
    width: 8rem;
}

ul.menu-principal {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 6rem;
    margin-right: 6rem;
}
a.menu {
    color: white;
    font-size: 1.5rem;
}
main{
    height: 99vw;
    background-image: url(/images/cover2.gif);
}
section.Contenido-del-main {
    color: white;
    font-size: 2rem;
        width: 70%;
        margin: 0 auto;
    }
    section.Contenido-del-main >* {
        padding: 4rem 0;
    }
.hs {
    margin: 0;
    display: flex;
    justify-content: center;
}
p{
    margin: 0;
}
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.main-table {
    display: flex;
    justify-content: center;
    color: white;
}

img.dimensiones {
    width: 35rem;
    padding:1rem;
}

tr.filas-tabla {
    height: 22rem;
}
p.titulo-imagen {
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: white;
}
p.numeral {
    font-size: 1rem;
    font-family: cursive;
}
th.title-table {
    font-family: cursive;
    font-size: 2rem;
    font-weight: bold;
    padding: 6rem;
}
.fondo {
    background-image: url(/images/cover2.gif);
    color: white;
}